<!DOCTYPE html>
<html>
<head>
	<title>Info</title>
</head>
<body>


<form action="/enter" method="POST">
<table align="center">
	<tr><td>Roll No<td><input type="number" name="rollno" id="rollno">
	<tr><td>Name<td><input type="text" name="name" id="name">
	<tr><td><input type="submit" name="submit" value="Sbmit">
   <!-- <textarea rows="4" cols="50" value="{{users}}"> -->

	<a href="/fetch"><input type="button" name="Fetch" value="Fetch"></a>
</table>
</form>

</body>
</html>