<!DOCTYPE html>
<html>
<head>
	<title>Information</title>
</head>
<body>



     
	
		<table bgcolor="grey" align="center" cellspacing="6" cellpadding="6">
			<tr><td>Username<td><input type="text" name="username" id="username" value="{{result.username}}">
				
				<tr><td>Name<td><input type="text" name="name" id="name" value="{{result.name}}">
				<tr><td>Age<td><input type="text" name="age" id="age" value="{{result.age}}">
				<tr><td>Email<td><input type="text" name="email" id="email" value="{{result.email}}">
				<tr><td>Phone No.<td><input type="text" name="phone" id="phone" value="{{result.phone}}">
				



				 	
	
    

</table>



</body>
</html>