<!DOCTYPE html>
<html>
<head>
	<title></title>

	<script type="text/javascript">
		 javascript:window.history.forward(1);
	</script>
  

</head>
<body>
<div>
 
 

    <form action="/login" method="POST">
        <pre>
        <label for="username">Username:</label>   <input type="text" name="username" title="Username" id="username"/>

        <label for="password">Password</label>  <input type="password" name="password" title="Password" id="password" />

        <input type="submit" value="Log in" />  
        </pre>
    </form>
</div>

</body>
</html>